@charset "UTF-8";

* {
    font-family: Arial, Helvetica, sans-serif;
    /*height: 100%;*/
}

body {
    background-image: linear-gradient(to right, #01EBC3,#366B62 );
}

main {
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 15px rgba(44, 53, 52, 0.624);
    width: 600px;
    padding: 10px;
    margin: auto;

}
h1 {
color: #20C0A5;
text-align: center;
text-shadow:  1px 1px 2px rgba(31, 38, 37, 0.793);
}

h2 {
color: #329685;
}

p { 
    text-align: justify;
}