* {
  margin: 0;
  padding: 0;
  box-sizing: 0;
   font-family: "Montserrat", sans-serif;
}

body{
  min-height: 100vh;
  width: 100vw;
  background: linear-gradient(180deg, #363467 0%, rgba(30, 29, 79, 0.8) 100%);
}

img {
    width: 27px;
    height: 27px;
    margin-top: 10px;
    margin-bottom: -15px;
    border-radius: 100%;
}
